{
    "swagger": "2.0",
    "info": {
        "description": "powered by ILOOP",
        "version": "1.0",
        "title": "ILOOP OMS RESTAPI",
        "termsOfService": "http://iloop.tf56.com/"
    },
    "host": "develop.eyeoms.tf56.lo",
    "basePath": "/iloop-oms",
    "tags": [
        { "name": "address-controller", "description": "Address Controller" },
        {
            "name": "consigne-info-controller",
            "description": "Consigne Info Controller"
        },
        { "name": "file-controller", "description": "File Controller" },
        {
            "name": "goods-info-controller",
            "description": "Goods Info Controller"
        },
        {
            "name": "shipping-person-controller",
            "description": "Shipping Person Controller"
        },
        {
            "name": "天涯跟单Controller",
            "description": "Wx Eye Track Controller"
        },
        {
            "name": "小程序中的车辆接口",
            "description": "Applet Car Controller"
        },
        { "name": "承运商相关接口", "description": "Carrier Controller" },
        {
            "name": "承运方小程序操作接口",
            "description": "Wx Carrier App Controller"
        },
        { "name": "数据字典接口", "description": "Dictionary Controller" },
        { "name": "用户相关接口", "description": "User Info Controller" },
        { "name": "订单操作接口", "description": "Request Order Controller" },
        {
            "name": "订单设备定位信息",
            "description": "Order Devices Location Controller"
        },
        { "name": "订单设备绑定", "description": "Order Devices Controller" },
        { "name": "订单费用相关接口", "description": "Order Cost Controller" },
        { "name": "设备管理", "description": "Device Controller" },
        { "name": "车辆相关接口", "description": "Car Controller" },
        { "name": "首页接口", "description": "Homepage Controller" }
    ],
    "paths": {
        "/address/create": {
            "post": {
                "tags": ["address-controller"],
                "summary": "create",
                "operationId": "createUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressCreate" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/address/delete": {
            "get": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingGET",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "head": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingHEAD",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "post": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "put": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "delete": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingDELETE",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "options": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingOPTIONS",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "patch": {
                "tags": ["address-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPATCH",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            }
        },
        "/address/list": {
            "post": {
                "tags": ["address-controller"],
                "summary": "list",
                "operationId": "listUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«Page«AddressVO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/address/query": {
            "get": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingGET",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "head": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingHEAD",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "post": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "put": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "delete": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingDELETE",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "options": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingOPTIONS",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "patch": {
                "tags": ["address-controller"],
                "summary": "query",
                "operationId": "queryUsingPATCH",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«AddressDO»»"
                        }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            }
        },
        "/address/update": {
            "post": {
                "tags": ["address-controller"],
                "summary": "update",
                "operationId": "updateUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/AddressCreate" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/appletCar/create": {
            "post": {
                "tags": ["小程序中的车辆接口"],
                "summary": "创建车辆",
                "operationId": "createUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarUpdateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/appletCar/delete": {
            "get": {
                "tags": ["小程序中的车辆接口"],
                "summary": "删除车辆",
                "operationId": "deleteUsingGET_1",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "carId",
                        "in": "query",
                        "description": "车辆id",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/appletCar/list": {
            "post": {
                "tags": ["小程序中的车辆接口"],
                "summary": "获取车辆的列表",
                "operationId": "listUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Car" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/appletCar/update": {
            "put": {
                "tags": ["小程序中的车辆接口"],
                "summary": "修改车辆",
                "operationId": "updateUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarUpdateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Car" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/carBindDevice": {
            "post": {
                "tags": ["车辆相关接口"],
                "summary": "车辆绑定设备",
                "operationId": "carBindDeviceUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarBindDeviceParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "boolean" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/carUnBindDevice": {
            "post": {
                "tags": ["车辆相关接口"],
                "summary": "车辆解绑设备",
                "operationId": "carUnBindDeviceUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarBindDeviceParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "boolean" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/create": {
            "post": {
                "tags": ["车辆相关接口"],
                "summary": "创建车辆",
                "operationId": "createUsingPOST_2",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarUpdateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/delete": {
            "delete": {
                "tags": ["车辆相关接口"],
                "summary": "删除一个车辆",
                "operationId": "deleteUsingDELETE_1",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "carId",
                        "in": "query",
                        "description": "车辆id",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            }
        },
        "/car/deleteBatch": {
            "delete": {
                "tags": ["车辆相关接口"],
                "summary": "批量删除车辆",
                "operationId": "deleteBatchUsingDELETE",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/DeleteByIdsParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            }
        },
        "/car/getAllCarsByParam": {
            "post": {
                "tags": ["车辆相关接口"],
                "summary": "获取车辆的列表，可用下拉框接口",
                "operationId": "getAllCarsByParamUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Car" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/info": {
            "get": {
                "tags": ["车辆相关接口"],
                "summary": "获取车辆的详情",
                "operationId": "infoUsingGET",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "车辆id",
                        "in": "query",
                        "description": "carId",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarDTO" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/latestLocation": {
            "get": {
                "tags": ["车辆相关接口"],
                "summary": "获取最新位置--通过中交兴路",
                "operationId": "latestLocationUsingGET",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "plateNumber",
                        "in": "query",
                        "description": "车牌号",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/IotGpsVO" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/list": {
            "post": {
                "tags": ["车辆相关接口"],
                "summary": "获取车辆的列表，带分页功能",
                "operationId": "listUsingPOST_2",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarDTO" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/car/update": {
            "put": {
                "tags": ["车辆相关接口"],
                "summary": "修改车辆",
                "operationId": "updateUsingPUT_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarUpdateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/Car" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/create": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "新增承运商接口",
                "operationId": "createUsingPOST_3",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarrierCreateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/delete": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "承运商删除接口",
                "operationId": "deleteUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/DeleteByIdsParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/export": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "carrierInfoExport",
                "operationId": "carrierInfoExportUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "carrierName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "carrierNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cityNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "companyInfoId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "enableStatus",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "identityNumber",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "isDeleted",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "keyWord",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "linkMan",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "partyId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "province",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "provinceNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "realName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "regionNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "object" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/getAllCarriers": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "获取承运商列表，可用于下拉框接口",
                "operationId": "getAllCarriersUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarrierQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarrierInfo" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/getCarrier": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "查询承运商",
                "operationId": "getCarrierUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarrierQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarrierInfo" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/getCarrierByNo": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "获取承运商详情",
                "operationId": "getCarrierByNoUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "carrierNo",
                        "description": "承运商编码",
                        "required": false,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarrierInfo" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/list": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "获取承运商列表，带分页功能",
                "operationId": "listUsingPOST_3",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarrierQueryParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarrierInfo" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/update": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "承运商修改接口",
                "operationId": "updateUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/CarrierUpdateParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/CarrierInfo" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/carrierInfo/updateEnableStatus": {
            "post": {
                "tags": ["承运商相关接口"],
                "summary": "停用启用承运商",
                "operationId": "updateEnableStatusUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateEnableStatusParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "integer", "format": "int32" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/create": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "create",
                "operationId": "createUsingPOST_4",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/delete": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPOST_2",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/export": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "parameterQueryExport",
                "operationId": "parameterQueryExportUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "object" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/getConsigneInfo": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "getConsigneInfo",
                "operationId": "getConsigneInfoUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«ConsigneInfoDO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/list": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "list",
                "operationId": "listUsingPOST_4",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«Page«ConsigneInfoVO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/consigneInfo/modif": {
            "post": {
                "tags": ["consigne-info-controller"],
                "summary": "modif",
                "operationId": "modifUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ConsigneInfoVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/create": {
            "post": {
                "tags": ["设备管理"],
                "summary": "新增设备",
                "description": "新增设备",
                "operationId": "createUsingPOST_5",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/DeviceParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/data": {
            "post": {
                "tags": ["设备管理"],
                "summary": "设备列表",
                "description": "分页查询设备列表",
                "operationId": "dataUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": false,
                        "schema": { "$ref": "#/definitions/DeviceParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«Page«DeviceDo»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/delete": {
            "get": {
                "tags": ["设备管理"],
                "summary": "删除设备",
                "description": "根据id删除设备",
                "operationId": "deleteUsingGET_2",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "设备ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/detail": {
            "post": {
                "tags": ["设备管理"],
                "summary": "设备详情",
                "description": "根据ID查询设备详情",
                "operationId": "detailUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "设备ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«DeviceDo»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/disable": {
            "post": {
                "tags": ["设备管理"],
                "summary": "禁用设备",
                "description": "禁用设备",
                "operationId": "disableUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "jsonObject",
                        "description": "请求参数,如{\"ids\":[2,8]}",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/enable": {
            "post": {
                "tags": ["设备管理"],
                "summary": "启用设备",
                "description": "启用设备",
                "operationId": "enableUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "jsonObject",
                        "description": "请求参数,如{\"ids\":[2,8]}",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/device/update": {
            "post": {
                "tags": ["设备管理"],
                "summary": "更新设备",
                "description": "更新设备",
                "operationId": "updateUsingPOST_2",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/DeviceParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/create": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "create",
                "operationId": "createUsingPOST_6",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "createDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "createMan",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "inputDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "inputMan",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "isDeleted",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "partyId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "realName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "typeName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«OmsDictionaryDO»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/delete": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "delete",
                "operationId": "deleteUsingPOST_3",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«OmsDictionaryDO»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/deleteType": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "deleteType",
                "operationId": "deleteTypeUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "type",
                        "description": "type",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/getEvaluationDict": {
            "get": {
                "tags": ["数据字典接口"],
                "summary": "getEvaluationDict",
                "operationId": "getEvaluationDictUsingGET",
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«string»»"
                        }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/list": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "list",
                "operationId": "listUsingPOST_5",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "queryParam",
                        "description": "queryParam",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DictionaryListParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«Page«OmsDictionaryDO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/listPlatformDataByType": {
            "get": {
                "tags": ["数据字典接口"],
                "summary": "查询平台级别数据字典",
                "operationId": "listPlatformDataByTypeUsingGET",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "PLATFORM_CAR_LENGTH_TYPE=车型;PLATFORM_CAR_TYPE=车长",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "string" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/mergeList": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "mergeList",
                "operationId": "mergeListUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "queryParam",
                        "description": "queryParam",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DictionaryListParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«Page«TransportRequirementVO»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/queryDict": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "queryDict",
                "operationId": "queryDictUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "queryParam",
                        "description": "queryParam",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DictionaryListParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«string»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/typeList": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "typeList",
                "operationId": "typeListUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "queryParam",
                        "description": "queryParam",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DictionaryListParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«List«Map«string,string»»»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/dictionary/update": {
            "post": {
                "tags": ["数据字典接口"],
                "summary": "update",
                "operationId": "updateUsingPOST_3",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransportRequirementVO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/eye/track/data": {
            "post": {
                "tags": ["天涯跟单Controller"],
                "summary": "天眼跟单小程序订单列表",
                "description": "执行中，近期签收，历史签收",
                "operationId": "dataUsingPOST_3",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/RequestOrderParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«EyeTrackVO»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/eye/track/detail": {
            "post": {
                "tags": ["天涯跟单Controller"],
                "summary": "天眼跟单小程序订单详情",
                "description": "货物跟踪",
                "operationId": "detailUsingPOST_2",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": { "$ref": "#/definitions/RequestOrderParam" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«OrderVO»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/eye/track/receive": {
            "post": {
                "tags": ["天涯跟单Controller"],
                "summary": "确认收货",
                "operationId": "receiveUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "reportedVO",
                        "description": "reportedVO",
                        "required": true,
                        "schema": { "$ref": "#/definitions/ReportedVO" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/file/delete": {
            "get": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingGET_3",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "head": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingHEAD_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "post": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPOST_4",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "put": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPUT_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            },
            "delete": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingDELETE_2",
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "options": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingOPTIONS_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            },
            "patch": {
                "tags": ["file-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPATCH_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "fileName",
                        "in": "query",
                        "description": "fileName",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«string»" }
                    },
                    "204": { "description": "No Content" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" }
                },
                "deprecated": false
            }
        },
        "/file/upload": {
            "post": {
                "tags": ["file-controller"],
                "summary": "upload",
                "operationId": "uploadUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«JSONObject»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/goodsInfo/create": {
            "post": {
                "tags": ["goods-info-controller"],
                "summary": "create",
                "operationId": "createUsingPOST_7",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GoodsInfoQueryParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BaseRes«GoodsInfoDO»"
                        }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/goodsInfo/delete": {
            "post": {
                "tags": ["goods-info-controller"],
                "summary": "delete",
                "operationId": "deleteUsingPOST_5",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": { "type": "object" }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "$ref": "#/definitions/BaseRes«int»" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/goodsInfo/export": {
            "post": {
                "tags": ["goods-info-controller"],
                "summary": "parameterQueryExport",
                "operationId": "parameterQueryExportUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "name": "goodsModelNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "goodsName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "goodsNo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "goodsPackage",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "goodsType",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "goodsUnit",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "isDeleted",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "keyWord",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "packingType",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "partyId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "realName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remark",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": { "type": "object" }
                    },
                    "201": { "description": "Created" },
                    "401": { "description": "Unauthorized" },
                    "403": { "description": "Forbidden" },
                    "404": { "description": "Not Found" }
                },
                "deprecated": false
            }
        },
        "/goodsInfo/list": {
            "post": {
                "tags": ["goods-info-controller"],
                "summary": "list",
                "operationId": "listUsingPOST_6",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "param",
                        "description": "param",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GoodsInfoQueryParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
[...]
